# MongoDB Atlas Database connection string
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.0dihnl8.mongodb.net/bike_crm?retryWrites=true&w=majority&appName=Cluster0"

# Optional Google Maps API key
GOOGLE_MAPS_API_KEY=""
